In [2]:
import os
import json
import pandas as pd
import numpy as np

dataframe = pd.DataFrame({'Name': ['Tom', 'Maicon'], 'Age': [20,30]})
key = ['Name', 'Age']

"|".join(dataframe.loc[0,key].astype(str))

'Tom|20'

In [1]:
import pandas as pd
novo = pd.read_parquet("/home/maiconbanni/Documentos/UFF/datalake/gold/crime.parquet")
novo

,time_id,seg_id,femicides,injurys_followed_by_death,intentional_homicides,phones_rob,phones_steal,robberys,vehicles_rob,vehicles_steal
0,1.0,3391.0,0,0,0,0,0,0,1,0
1,1.0,4501.0,0,0,0,1,0,0,0,0
2,1.0,5193.0,0,0,0,0,0,0,0,1
3,1.0,5247.0,0,0,0,1,0,0,0,0
4,1.0,6692.0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
168422,3495.0,103416.0,0,0,1,0,0,0,0,0
168423,3496.0,287414.0,0,0,1,0,0,0,0,0
168424,3497.0,289147.0,0,0,1,0,0,0,0,0
168425,3498.0,103416.0,0,0,0,0,0,1,0,0
168426,3499.0,103416.0,0,0,0,0,0,1,0,0